@model JQueryPopupModal.Services.EmployeeModel

@{ 
    Layout = null;
}

@using (Html.BeginForm())
{
    <fieldset>
        <legend>EmployeeModel</legend>

        <table>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.Emp_Id)</b></td>
                <td>@Html.DisplayFor(model => model.Emp_Id)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.Name)</b></td>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.Department)</b></td>
                <td>@Html.DisplayFor(model => model.Department)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.City)</b></td>
                <td>@Html.DisplayFor(model => model.City)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.State)</b></td>
                <td>@Html.DisplayFor(model => model.State)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.Country)</b></td>
                <td>@Html.DisplayFor(model => model.Country)</td>
            </tr>
            <tr>
                <td><b>@Html.DisplayNameFor(model => model.Mobile)</b></td>
                <td>@Html.DisplayFor(model => model.Mobile)</td>
            </tr>
        </table>
    </fieldset>
}