@model JQueryPopupModal.Services.PagedEmployeeModel
@{
    Layout = null;
    WebGrid grid = new WebGrid(rowsPerPage: Model.PageSize);
    grid.Bind(Model.Employee, autoSortAndPage: false, rowCount: Model.TotalRows);
}

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@*<script src="~/Scripts/jquery-3.1.1.min.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
@*<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
@*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
<script>
    $(document).ready(function () {
        $("#AddEmployee").live("click", function (e) {
            var url = $(this).attr("href");
            $("#dialog-edit").dialog({
                title: "Add New Employee",
                autoOpen: false,
                resizable: false,
                height: 455,
                width: 550,
                show: { effect: "drop", direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(this).load(url);
                },
                close: function (event, ui) {
                    $(this).dialog("close");
                }
            });

            $("#dialog-edit").dialog("open");
            return false;
        });

        $(".editDialog").live("click", function (e) {
            var url = $(this).attr("href");
            $("#dialog-edit").dialog({
                title: "Edit Employee Detail",
                autoOpen: false,
                resizable: false,
                height: 455,
                width: 550,
                show: { effect: "drop", direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(this).load(url);
                },
                close: function (event, ui) {
                    $(this).dialog("close");
                }
            });

            $("#dialog-edit").dialog("open");
            return false;
        });
        $(".confirmDialog").live("click", function (e) {
            var url = $(this).attr("href");
            $("#dialog-confirm").dialog({
                autoOpen: false,
                resizable: false,
                height: 170,
                width: 350,
                show: { effect: "drop", direction: "up" },
                modal: true,
                draggable: true,
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                        window.location = url;
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $("#dialog-confirm").dialog("open");
            return false;
        });

        $(".viewDialog").live("click", function (e) {
            var url = $(this).attr("href");
            $("#dialog-view").dialog({
                title: "Employee Detail",
                autoOpen: false,
                resizable: false,
                height: 350,
                width: 400,
                show: { effect: "drop", direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(this).load(url);
                },
                buttons: {
                    "Close": function () {
                        $(this).dialog("close");
                    }
                },
                close: function (event, ui) {
                    $(this).dialog('close');
                }
            });

            $("#dialog-view").dialog("open");
            return false;
        });

        $("#btncancel").live("click", function (e) {
            $("#dialog-edit").dialog("close");
        });
    });
</script>

<h2>All Employee Listing</h2>
<br />
<div style="color: red; font-weight: bold;">
    @TempData["OpenStatus"]
</div>
<br />

@grid.GetHtml(
    fillEmptyRows: false,
    alternatingRowStyle: "alternate-row",
    headerStyle: "grid-header",
    footerStyle: "grid-footer",
    mode: WebGridPagerModes.All,
        firstText: "<< First",
        previousText: "<Prev",
        nextText: "Next>",
        lastText: "Last >>",
    columns: new[]
    {
        grid.Column("Name",
            header: "Name",
            format: @<text>
                        @Html.ActionLink((string)item.Name, "ViewEmployeeDetail", new {id=item.id}, new {@class="viewDialog"})
                    </text>
                   ),
        grid.Column("Department"),
        grid.Column("City"),
        grid.Column("State"),
        grid.Column("Country", header: "Country" ),
        grid.Column("Mobile"),
        grid.Column("", 
            header: "Actions", 
            format: @<text>
                        @Html.ActionLink("Edit", "EditEmployee", new {id=item.id}, new {@class="editDialog"}) |
                        @Html.ActionLink("Delete", "Delete", new {id=item.id}, new {@class="confirmDialog"})
                    </text>
                   )
    }
)

<br />
<b>
    <a id="ADDEmployee" href="\Employee\Create">Add New Employee</a>
</b>
<div id="dialog-confirm" style="display:none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
        Are you sure to delete?
    </p>
</div>
<div id="dialog-edit" style="display:none;"></div>
<div id="dialog-view" style="display:none;"></div>

