@model JQueryPopupModal.Entities.Employee

<fieldset>
    <legend>Employee</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Emp_Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Emp_Id)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Department)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Department)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.State)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Country)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Mobile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mobile)
    </div>
</fieldset>
